In [1]:
import pandas as pd
import numpy as np

# Lista de nomes das alunas
nomes_alunas = [
    'Ana', 'Beatriz', 'Carla', 'Daniela', 'Eduarda', 'Fernanda', 'Gabriela',
    'Helena', 'Isabela', 'Juliana', 'Larissa', 'Mariana', 'Natália',
    'Olívia', 'Patrícia', 'Raquel', 'Sofia', 'Tatiana', 'Valentina', 'Yasmin'
]

# Gerando dados aleatórios para as outras colunas
idades = np.random.randint(18, 50, size=20)
cursos = np.random.choice(['ADS', 'Inglês', 'Estatística', 'Python'], size=20)
cidades = np.random.choice(['Porto alegre', 'São Paulo', 'Recife', 'Fortaleza', 'Manaus', 'Salvador'], size=20)
notas_finais = np.random.uniform(0, 10, size=20).round(2)
frequencias = np.random.uniform(75, 100, size=20).round(2)
status_do_curso = ['Aprovada' if nota >= 7 else 'Reprovada' for nota in notas_finais]

# Criando o DataFrame
df = pd.DataFrame({
    'Aluna': nomes_alunas,
    'Idade': idades,
    'Curso': cursos,
    'Cidade': cidades,
    'Nota Final': notas_finais,
    'Frequência': frequencias,
    'Status do Curso': status_do_curso
})

print(df)

        Aluna  Idade        Curso        Cidade  Nota Final  Frequência  \
0         Ana     42  Estatística     Fortaleza        3.09       99.46
1     Beatriz     34  Estatística     Fortaleza        9.44       93.90
2       Carla     34       Inglês        Manaus        3.99       78.41
3     Daniela     45       Inglês  Porto alegre        5.25       87.37
4     Eduarda     47  Estatística     São Paulo        2.45       90.24
5    Fernanda     48          ADS     Fortaleza        5.15       98.64
6    Gabriela     18          ADS     São Paulo        6.68       96.04
7      Helena     37  Estatística     Fortaleza        9.02       99.43
8     Isabela     29  Estatística      Salvador        6.33       92.05
9     Juliana     26       Inglês      Salvador        9.99       96.04
10    Larissa     42       Inglês        Manaus        7.95       79.03
11    Mariana     43  Estatística        Manaus        6.89       86.40
12    Natália     41       Inglês        Manaus        0.11       91.74
13     Olívia     46          ADS     Fortaleza        5.23       91.31
14   Patrícia     46  Estatística     Fortaleza        7.51       81.85
15     Raquel     26          ADS     São Paulo        8.26       96.20
16      Sofia     40          ADS        Recife        0.92       86.13
17    Tatiana     43  Estatística     Fortaleza        9.25       81.19
18  Valentina     48  Estatística        Recife        1.09       81.16
19     Yasmin     38          ADS      Salvador        2.41       76.95

   Status do Curso
0        Reprovada
1         Aprovada
2        Reprovada
3        Reprovada
4        Reprovada
5        Reprovada
6        Reprovada
7         Aprovada
8        Reprovada
9         Aprovada
10        Aprovada
11       Reprovada
12       Reprovada
13       Reprovada
14        Aprovada
15        Aprovada
16       Reprovada
17        Aprovada
18       Reprovada
19       Reprovada

In [2]:
display(df.head(4))

,Aluna,Idade,Curso,Cidade,Nota Final,Frequência,Status do Curso
0,Ana,42,Estatística,Fortaleza,3.09,99.46,Reprovada
1,Beatriz,34,Estatística,Fortaleza,9.44,93.90,Aprovada
2,Carla,34,Inglês,Manaus,3.99,78.41,Reprovada
3,Daniela,45,Inglês,Porto alegre,5.25,87.37,Reprovada

In [3]:
df.to_csv('dados_alunas', index = False)

In [7]:
media_notas = np.mean(df['Nota Final'])
media_notas = round(media_notas, 1)
print(f"A média das notas é: {media_notas} ")

A média das notas é: 5.6

In [9]:
from scipy import statistics

In [13]:
import statistics as sts

In [14]:
moda_notas = sts.mode(df['Nota Final'])
print(f"Moda: {moda_notas} ")

Moda: 3.09

In [15]:
#Para verificar as múltiplas modas, usamos Counter e observamos most_common
from collections import Counter
freq_lista = Counter(df['Nota Final'])
freq_lista.most_common()

[(3.09, 1),
 (9.44, 1),
 (3.99, 1),
 (5.25, 1),
 (2.45, 1),
 (5.15, 1),
 (6.68, 1),
 (9.02, 1),
 (6.33, 1),
 (9.99, 1),
 (7.95, 1),
 (6.89, 1),
 (0.11, 1),
 (5.23, 1),
 (7.51, 1),
 (8.26, 1),
 (0.92, 1),
 (9.25, 1),
 (1.09, 1),
 (2.41, 1)]