In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'Nome':['Alice', 'Maria', 'Júlia'], 'Idade': [25, 12, 48]})
df

    Nome  Idade
0  Alice     25
1  Maria     12
2  Júlia     48

In [4]:
print(df['Nome'])

0    Alice
1    Maria
2    Júlia
Name: Nome, dtype: object

In [5]:
df['Idade'].mean()

28.333333333333332

In [6]:
df[df['Idade'] > 30]

    Nome  Idade
2  Júlia     48